<div class="card">
    <span>{{ text }}</span>
    <span class="icon-container">
        <img *ngIf="enabled" class="icon" src="../../../assets/icons/true.svg">
        <img *ngIf="!enabled" class="icon" src="../../../assets/icons/false.svg">
    </span>
</div>