.card {
    width: 100%;
    padding: 18px 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(234, 234, 234);
}

.card:hover{
    background-color: rgb(241, 241, 241);
}

.icon-container{
    position: absolute;
    right: 15px;
}

.icon{
    width: 20px;
}