<ng-container *ngIf="display$ | async as display">
    <section [class.open]="display === 'open'" (click)="close()">
      <div (click)="$event.stopPropagation()">
        <button class="close" type="button"  (click)="close()"><img src="../../../../assets/icons/false.svg"></button>

        <div class="form-container">
            <div class="form-box">
                <div class="form-header">From</div>
                    <select>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                    <select>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
            </div>
            <div class="form-box">
                <div class="form-header">To</div>
                <!-- <form [formGroup]="form" (ngSubmit)="submit()">
                    <label for="orders">Order</label>
                    <select formControlName="orders" id="orders">
                      <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
                        {{orders[i].name}}
                      </option>
                    </select>
                  
                    <button>submit</button>
                  </form> -->
            </div>
            <!-- <ngb-timepicker [(ngModel)]="time"></ngb-timepicker> -->
        </div>
      </div>
    </section>
  </ng-container>