section {
    visibility: hidden;
    opacity: 0;
  
    display: block;
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms ease-in; 
    z-index: 10;
  }
  
button.close {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;

    position: absolute;
    top: 0;
    left: 0;

    padding: 16px 8px;
}
  
section.open {
    visibility: inherit;
    opacity: 1;
}

section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    width: 450px;
    background: white;
    padding: 64px;
    border-radius: 8px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: row;
}

.form-box {
    padding: 0px 10px;
}