.schedule-component {
    height: 100%;
    box-sizing: border-box;
    padding: 40px 0px;
    /* background-color: rgb(97, 179, 97); */
    /* background-image: url("../../assets/branch.jpg"); */
    background-position: center center;
    background-size: 100vw;
    position: relative;
    z-index: 1;
}

.back-button{
    cursor: pointer;
    position: fixed;
    border-radius: 10px;
    padding: 6px;
    top: 25px;
    left: 25px;
    width: 50px;
}
.back-button:hover{
    background-color: rgba(255,255,255,0.5);
}

.header{
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 30px;
    margin: auto;
    background-color: white;
}

.list-container{
    width: 500px;
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 40px auto 40px auto;
    background-color: white;
}

.date-picker{
    display: flex;
    justify-content: center;
}


.back-img{
    background-image: url("../../assets/branch.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.form{
    width: 100%;
}

.form-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;}

.form-part{
    width: 100%;
}

.row{
    justify-content:space-around;
    flex-direction: row;
}

.hard-lable{
    font-weight: 900;
    width: 100%;
}

.form-button{
    width: 70%;
    height: 40px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: rgb(163, 222, 240);
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.form-header{
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
}

.save-button{
    width: 180px;
    height: 60px;
    padding: 16px 0px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    background-color: rgb(57, 145, 68);
    text-align: center;
    margin: 0px auto 20px auto;
    cursor: pointer;
}