<div class="schedule-component">
    <img class="back-button" (click)="location.back()" src="../../assets/icons/home.svg">
    <div class="header">Schedule</div>
    <div class="list-container">
        <day-card *ngFor="let day of scheduleOptions" [text]="day.text" [enabled]="day.enabled" (click)="open(day)">
        </day-card>
        <div class="form" *ngIf="chosenDay">
            <div class="form-header">{{ chosenDay }}</div>
            <div class="form-box">
            <form class="form-part"[formGroup]="formFrom" (ngSubmit)="submit()">
                <label class="hard-lable">From</label>
                <div class="row">
                    <label for="hours">Hours</label>
                    <select formControlName="hours">
                        <option *ngFor="let hour of hours" [value]="hour.id">
                            {{hour.name}}
                        </option>
                    </select>
                </div>
                <div class="row">
                    <label for="minutes">Minutes</label>
                    <select formControlName="minutes">
                        <option *ngFor="let minute of minutes" [value]="minute.id">
                            {{minute.name}}
                        </option>
                    </select>
                </div>
            </form>
            <form class="form-part" [formGroup]="formTo" (ngSubmit)="submit()">
            <label class="hard-lable">To</label>
                <div class="row">
                    <label for="hours">Hours</label>
                    <select formControlName="hours">
                        <option *ngFor="let hour of hours" [value]="hour.id">
                            {{hour.name}}
                        </option>
                    </select>
                </div>
                <div class="row">
                    <label for="minutes">Minutes</label>
                    <select formControlName="minutes">
                        <option *ngFor="let minute of minutes" [value]="minute.id">
                            {{minute.name}}
                        </option>
                    </select>
                </div>
            </form>
        </div>
            <div class="form-button" (click)="submit()">Submit</div>
        </div>
    </div>
    <div class="save-button" (click)="clear()">Save configuration</div>
</div>

<div class="back-img">
</div>
<app-modal></app-modal>