/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: rocko;
    src: url("./assets/fonts/RockoFLF.ttf");
}

html,body{
    font-family: rocko;
}