.home-component{
    width: 100%;
    height: 100%;
    /* background: rgb(243, 224, 190); */
    background-color: rgb(255, 245, 227);
}

.container{
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(87, 114, 132);
}

.header{
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
    color: rgb(255, 245, 227);
}

.circle {
    width: 30vw;
    height: 30vw;
    border-radius: 15vw;
    -webkit-border-radius: 15vw;
    -moz-border-radius: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background: rgb(243, 224, 190);
    background-image: url("../../assets/earth.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 40vw;
  }

.auto-margined {
    margin: auto;
}

.button {
    width: 80%;
    text-align: center;
    background-color: rgb(72, 157, 65);
    color: rgb(255, 245, 227);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}