<div class="home-component">
    <div class="auto-margined container" (click)="doSpray()">
        <div class="header">Air Freshener Controller</div>
        <div class="auto-margined circle">
            <div class="header">
                Touch me
            </div>
        </div>
        <div routerLink="schedule" class="auto-margined button">Set your schedule</div>
    </div>
</div>